<div class="onoffswitch" style="display:none;">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myOnOffSwitchMerge"> </input>
    <label class="onoffswitch-label" for="myOnOffSwitchMerge">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
