<div class="views_group_{{i}} col-md-4 col-sm-5 col-lg-4" >
  <h4><a href="javascript:redirect({{i}})"> Group {{i}}</a></h4>
  <div class="geogebrawebapplet group-webapplet" id="appletContainer{{i}}"></div>
</div>
